body,
html {
  height: 200px;
}

body {
  padding: 0;
  margin: 0;
  font-family: OpenSans, Helvetica, sans-serif !important;
  color: #111;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.header {
  font-size: 1.25rem;
  text-align: center;
  background-color: #f0f0f0;
  min-width: 10rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 5rem;
  padding: 0.5rem 2rem;
}

.header img {
  width: 2rem;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: #ffffffdd;
  font-size: 0.9rem;
  text-decoration: none;
  cursor: pointer;
  display: block;
  text-align: center;
  padding: 1rem 0;
}

.blocked {
  background-color: #83af9b;
}

.unblocked {
  background-color: #e3727c;
}

.overrideInfo {
  font-size: 0.8rem;
  color: #555;
  text-align: center;
  padding: 1rem 0.5rem;
}

.overrideInfo__overriding {
  font-weight: bold;
  color: #111;
}
